<section id="banner">
	<div class="inner">
    <div style="display: flex; flex-direction: row; justify-content: space-evenly; margin-bottom: 2em;">
      <h1>Family-Run Business.</h1>
      <h1>We Appeal For You.</h1>
      <h1>Correct Your Valuation.</h1>
    </div>
    <h2>{{ .Site.Params.fancytitle | safeHTML }}</h2>
    <p>{{ .Site.Params.description | safeHTML }}</p>
    {{ if and .Site.Params.startbuttonText .Site.Params.startbuttonLink }}
		<ul class="actions special">
      <li><a href="{{ .Site.Params.StartbuttonLink }}" class="button primary">{{ .Site.Params.StartbuttonText }}</a></li>
		</ul>
    {{ end }}
	</div>
  <a href="#one" class="more scrolly">{{ i18n "learnmore" }}</a>
</section>
